---
BasedOnStyle: Microsoft
ColumnLimit: 0
AllowShortFunctionsOnASingleLine: Empty
SpaceBeforeParens: Custom
SpaceBeforeParensOptions:
  AfterControlStatements: true
  AfterFunctionDeclarationName: true
  AfterFunctionDefinitionName: true
  AfterIfMacros: true
  AfterOverloadedOperator: false
  BeforeNonEmptyParentheses: false
TabWidth: 4
UseTab: ForIndentation

